<mat-toolbar class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div>
        <img class="img" src="../../assets/imgs/WhatsApp Image 2024-11-29 at 20.16.54_39526a40.jpg" width="60" height="60">
    </div>
    <div class="mydiv">
        <button class='mybutton myspn' mat-button color="basic" routerLink="/customer">
            <span>Home</span>
        </button>
        <button class='mybutton myspn' mat-button color="basic" routerLink="/movies">
            <span>Movie List</span>
        </button>
        <button class='mybutton myspn' mat-button color="basic" routerLink="/faq">
            <span>FAQ</span>
        </button>
        <button class='mybutton myspn' mat-button color="basic" routerLink="/feedback">
            <span>Feedback</span>
        </button>
    </div>
    <div>
        <button mat-button [matMenuTriggerFor]="menu"><img class="img1" src="../../assets/imgs/images.jpeg" alt=""></button>

        <mat-menu #menu="matMenu">
             <button mat-menu-item class="link" ><a href="#" class="link" routerLink="/profile">Profile</a></button>
             <button mat-menu-item class="link"  data-bs-toggle="modal" data-bs-target="#exampleModal" ><a class="link">My Reservations</a></button>
             <button mat-menu-item ><button style="margin-left: 30px;" class='btn btn-warning' (click)="logout()">LogOut</button></button>
         </mat-menu>
    </div>
</mat-toolbar>

<hr>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Reservation List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body">
            <app-reservation-list ></app-reservation-list>
        </div>
      </div>
    </div>
  </div>