.navbar
{
    justify-content: space-between;
}

span
{
    padding: 1em 2em;
}

.mydiv{
    color: white;
}
.btn
{
    margin-right: 2rem;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

mat-sidenav-container
{
    height: 100vh;
}
mat-sidenav
{
    background-color: aquamarine;
    width: 200px;
}

mat-sidenav-content
{
    background-color: coral;
    
}
.img{
    border-radius: 50%;
    margin-left: 70px;
}
.img1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 65px;
}
.link{
    margin-left: 55px;
    text-decoration: none;
    color: black;
}
