<div class="container">
  <h2
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary);
      font-style: italic;
      padding: 10px;
    "
  >
    Reservation List
  </h2>
  <!-- <ng-template > -->
      <div  *ngIf="isEmpty" style="text-align: center; color: var(--primary); font-style: italic; font-weight: 500; margin-top: 15px; margin-bottom: 0px;">No reservations found.</div>
  <!-- </ng-template> -->
    <ng-container *ngFor="let reservation of reservations">
        <ng-container *ngIf="!isEmpty">
            <app-reservation-list-item [reservation]="reservation"></app-reservation-list-item>
        </ng-container>
    </ng-container>
</div>
