<app-admin-header></app-admin-header>
<div class="feedback-list" style="height: calc(100vh - 60px); overflow: auto;">
  <h2
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary);
      font-style: italic;
      padding: 10px;
      margin-top: 60px;
    "
  >
    Feedback List
  </h2>
  <app-feedback-list-item
    [feedbackList]="feedbackList"
  ></app-feedback-list-item>
</div>
<div style="position: relative; bottom: 0; width: 100%;">
    <app-footer></app-footer>
</div>
