.div{
    width: 100%;
    height: 100%;
    background-color: var(--black);
    /* position: relative; */
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.h1{
    /* position: absolute; */
    /* margin: 100px 577px;  */
    margin-right: 140px;
    color: white;  
    font-weight: bold;
}

.h2{
    /* position: absolute; */
    /* margin: 170px 494px;  */
    color: #ffd43a; 
    text-shadow: 5px 5px 0px #a78713 ,
    -4px 0 12px rgba(228, 246, 65, 0.6), 
    4px 0 12px rgba(228, 246, 65, 0.6);
    font-weight: bold;
    font-size: 120px;
    font-style: italic;
}

.h3{
    /* position: absolute; */
    color: white;  
    margin-left: 240px;
    /* margin-left: 544px; */
    /* margin-top: 250px; */
    font-weight: bold;
}