/* Movie Card Styling */
.movie-card {
  /* max-width: 1000px; */
  margin: auto;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dataSection
{
    display: flex;
    flex-direction: row;
}
/* Image Container */
.image-section {
  width: 100%; /* Full width */
  height: fit-content;
  position: relative;

}
.image-section img {

  display: block;
  width: 100%; /* Ensure the image spans the container width */
  height: 400px; /* Set a fixed height for the container */
  /* object-fit: cover; Ensures the image fills the container */
  object-position: left; /* Align the image to the left */
}

/* Details Section */
.details-section {
  padding: 16px;
  font-family: Arial, sans-serif;
}

.detail {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.detail:last-child {
  border-bottom: none;
}

.label {
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

.value {
  color: #666;
  font-weight: bold;
  font-size: clamp(16px,18px,24px);
  text-align: right;
}
