/* Movie Card Styling */
.container {
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #11435a;
  position: relative;
  width: 100%;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* Details Section */
.details-section {
  padding: 16px;
  font-family: Arial, sans-serif;
  width: 100vh;
}

@media (max-width: 768px) {
  .container{
    flex-direction: row;
  }
  .image-section{
    width: 100%;
  }
  .details-section {
    justify-items: flex-start;
    width: 100%;
  }
  .detail{
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
}

.detail {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 1272px) {
  .details-section{
    width: 95vh;
  }
  .detail{
    padding: 20px 0;
  }
}

@media (max-width: 1200px) {
  .details-section{
    width: 75vh;
  }
  .detail{
    padding: 15px 0;
  }
}

@media (max-width: 990px) {
  .details-section{
    width: 55vh;
  }
  .detail{
    padding: 5px 0;
  }
}

.detail:last-child {
  border-bottom: none;
}

.label {
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

.value {
  color: #666;
  font-weight: bold;
  font-size: 24px;
  text-align: right;
}
