
<!-- <app-movie-list></app-movie-list> -->

<!-- <div class="list">
    <app-detailed-movieCard *ngFor="let movie of movies" [movie]="movie"></app-detailed-movieCard>
</div> -->

<!-- <app-detailed-movieCard></app-detailed-movieCard> -->
<!-- <app-login></app-login> -->
 
<!-- <app-signup></app-signup> -->
<!-- <app-feedback></app-feedback> -->


<!-- <app-admin-header></app-admin-header> -->
<!-- <app-gust-header></app-gust-header> -->
<!-- <app-vendor-header></app-vendor-header> -->
<app-customer-header></app-customer-header>
<!-- <app-NotAuthorized></app-NotAuthorized> -->
<!-- <app-NotFound></app-NotFound> -->
<app-profile></app-profile>

