<!-- <app-movie-list></app-movie-list>  -->

<!-- <div class="list">
    <app-detailed-movieCard *ngFor="let movie of movies" [movie]="movie"></app-detailed-movieCard>
</div> -->

<!-- <app-detailed-movieCard></app-detailed-movieCard> -->
<!-- <app-login></app-login> -->
 
<!-- <app-signup></app-signup> -->
<!-- <app-feedback></app-feedback> -->
<!-- <app-vendor-form></app-vendor-form> -->
<!-- <app-vendor-form></app-vendor-form> -->
<!-- <app-movie-form></app-movie-form> -->
<!-- <app-cinema-form></app-cinema-form> -->

<!--<app-gust-header></app-gust-header> -->
<!-- <app-admin-header></app-admin-header> -->
<!-- <app-customer-header></app-customer-header> --> <br><br><br>
<!-- <app-vendor-header></app-vendor-header> -->
<!-- <app-feedback-list></app-feedback-list> -->
<!-- <app-cinema-list></app-cinema-list> -->
<!-- <app-users-list></app-users-list> -->
<!-- <app-cinema-list></app-cinema-list> -->
<!-- <app-users-list></app-users-list> -->
<!-- <app-movie-list></app-movie-list> -->

<!--<app-dashboard></app-dashboard>-->
<!--<app-footer></app-footer>-->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <app-reservation-list></app-reservation-list>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
<!-- <app-customer-header></app-customer-header> -->
<!-- <app-vendor-header></app-vendor-header> -->
<!-- <app-vendor-header></app-vendor-header> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-footer></app-footer> --> 
<!-- <app-ticket></app-ticket> -->

<!-- Button trigger modal -->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  #openButton
  hidden
>
  Reservation
</button>
 -->
<!-- Modal -->
<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reservation</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-ticket></app-ticket>
      </div>
    </div>
  </div>
</div> -->

<!-- <app-footer></app-footer> --> 
<!-- <app-seat-list></app-seat-list> -->
 <!-- <app-NotAuthorized></app-NotAuthorized> -->
 <!-- <app-NotFound></app-NotFound> -->
  <!-- <app-profile></app-profile> -->
  <!-- <app-faq></app-faq> -->
<!-- <app-vendor-header></app-vendor-header> -->
<!-- <app-dashboard></app-dashboard> -->
 <!-- <app-vendor-movie-list></app-vendor-movie-list> -->
<!-- <app-footer></app-footer> -->
