.div{
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 12, 56);
    position: relative;
}
.img{
    margin-left: 465px;
    margin-top: 132px;
}
.h1{
    position: absolute;
    margin: 100px 580px; 
    color: white;  
    font-weight: bold;
}
.h2{
    position: absolute;
    margin: 170px 494px; 
    color: #ffd43a; 
    text-shadow: 5px 5px 0px #a78713 ,
    -4px 0 12px rgba(246, 65, 155, 0.6), 
    4px 0 12px rgba(246, 65, 155, 0.6);
    font-weight: bold;
    font-size: 120px;
    font-style: italic;
}
.h3{
    position: absolute;
    color: white;  
    margin-left: 544px;
    margin-top: 250px;
    font-weight: bold;
}