.reservation-list {
    /* max-width: 400px; */
    margin: 20px auto;
  }
  
  .movie-details {
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 8px;
  }
  
  .cancel-button {
    display: flex;
    justify-content: flex-end;
    color: white;
  }

  